table, th, td
{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th, td
{
    width: 500px;
}

tr td:nth-child(3)
{
    text-align: right;
}

tr:nth-child(even)
{
    background-color: lightgray;
}